.App {
  font-size: 100%;
  font-family: 'Ubuntu Condensed';
}

header, footer {
  background-color: rgb(93, 110, 118);
  position: fixed;
  width: 100vw;
  z-index: 1;
  color: white;
  /* overflow: hidden; */
  padding: 1vh;
  text-align: center;
}

header {
  padding: 3vh;
}

footer p {
  color: white;
  font-size: calc(0.75rem + 0.25vw);
}

footer a {
  color:rgb(101, 213, 232);
  cursor: pointer;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.landing-body {
  background-color: rgb(79, 79, 79);
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  color: white;
  overflow: hidden;
}

.landing-body h1 {
  color: rgb(101, 213, 232);
  font-size: calc(4rem + 5vw)
}

.landing-body p {
  color: white;
  font-size: calc(1rem + 1vw);
}

.App-link {
  color: #61dafb;
}

.githubIcon {
  padding-right: .5rem;
  color:rgb(101, 213, 232);
}
